<nav class="navbar navbar-transparent">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-transparent">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#pablo">{{ 'portal.name'|trans }}</a>
        </div>

        <div class="collapse navbar-collapse" id="example-navbar-transparent">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#pablo">
                        <i class="fa fa-facebook-square"></i>
                        Facebook
                        <div class="ripple-container"></div></a>
                </li>
                <li>
                    <a href="#pablo">
                        <i class="fa fa-twitter"></i>
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="#pablo">
                        <i class="fa fa-instagram"></i> Instagram
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>