{% extends "::admin.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}AdminBundle:City:new{% endblock %}

{% block body %}
<div class="container" style="margin-top: 20px;">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
